.cruid-main .crud-btn {
  max-width: 100px;
}
.cruid-main .student-details {
  border: 1px solid #e9dbdb;
  box-shadow: 3px 3px 11px #121010;
}
.links .student-list {
  width: 120px;
  box-shadow: 0px 0px 7px #5e5959;
  border-radius: 15px;
}
.links .student-list a {
  color: #121010;
  text-decoration: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-list-data .user {
  box-shadow: 0px 0px 7px #e1d4d4;
}
.user-list-data .user button {
  outline: none;
}
.user-list-data .user .confirm-delete {
  outline: none;
  border: none;
  top: 15px;
  right: 15px;
}
.user-list-data .user .confirm-delete button {
  outline: none;
  border: 1px solid black;
  border-radius: 15px;
  padding: 4px 12px 4px 12px;
}
.inner-row {
  box-shadow: 7px 6px 10px #e1d4d4;
}
.inner-row input,
.inner-row textarea {
  outline: none;
  width: 100%;
  border-width: 0px 0px 1px 1px;
  text-transform: capitalize;
}
.common-button-style-1 {
  border: navajowhite;
  background-color: transparent;
  box-shadow: 0px 0px 7px #e1d4d4;
  border-radius: 15px;
  padding: 4px 10px 4px 10px;
}
