header .navbar-brand {
  max-width: 150px;
}
header .employee-directory .name p {
  font-size: 2.1rem;
  font-weight: 300;
  display: inline-block;
  letter-spacing: 1.2px;
}
header .employee-directory .name .cite {
  bottom: -3px;
}
header .employee-directory .name .cite p {
  font-size: 1.15rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  white-space: nowrap;
}
header .welcome span {
  font-size: 2rem;
  font-weight: 300;
  line-height: 30px;
}
header .welcome .profile-pic {
  max-width: 70px;
  height: 55px;
  object-fit: cover;
}
