body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Importing fonts */

/* @font-face {
  font-family: "Apercu";
  src: url("./fonts/Apercu/Apercu-Bold.eot"),
    url("./fonts/Apercu/Apercu-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} */

/* @font-face {
  font-family: "Apercu";
  src: url("../fonts/Apercu/Apercu-Regular.eot"),
    url("../fonts/Apercu/Apercu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

/* @font-face {
  font-family: "Apercu";
  src: local("Apercu"),
    url("../fonts/Apercu/Apercu-Bold.ttf") format("truetype");
  font-weight: bold;
} */

/* @font-face {
  font-family: "../fonts/Apercu/Apercu";
  src: url("../fonts/Apercu/Apercu-Medium.eot");
  src: url("../fonts/Apercu/Apercu-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Apercu/Apercu-Medium.woff2") format("woff2"),
    url("../fonts/Apercu/Apercu-Medium.woff") format("woff"),
    url("../fonts/Apercu/Apercu-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "../fonts/Apercu/Apercu";
  src: url("../fonts/Apercu/ApercuPro-Medium.eot");
  src: url("../fonts/Apercu/ApercuPro-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Apercu/ApercuPro-Medium.woff2") format("woff2"),
    url("../fonts/Apercu/ApercuPro-Medium.woff") format("woff"),
    url("../fonts/Apercu/ApercuPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "../fonts/Apercu/Apercu";
  src: url("../fonts/Apercu/ApercuPro-Light.eot");
  src: url("../fonts/Apercu/ApercuPro-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Apercu/ApercuPro-Light.woff2") format("woff2"),
    url("../fonts/Apercu/ApercuPro-Light.woff") format("woff"),
    url("../fonts/Apercu/ApercuPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "../fonts/Apercu/Apercu";
  src: url("../fonts/Apercu/ApercuPro-Bold.eot");
  src: url("../fonts/Apercu/ApercuPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Apercu/ApercuPro-Bold.woff2") format("woff2"),
    url("../fonts/Apercu/ApercuPro-Bold.woff") format("woff"),
    url("../fonts/Apercu/ApercuPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "../fonts/Apercu/Apercu";
  src: url("../fonts/Apercu/Apercu-Regular.eot");
  src: url("../fonts/Apercu/Apercu-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Apercu/Apercu-Regular.woff2") format("woff2"),
    url("../fonts/Apercu/Apercu-Regular.woff") format("woff"),
    url("../fonts/Apercu/Apercu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "../fonts/Apercu/Apercu";
  src: url("../fonts/Apercu/Apercu-Light.eot");
  src: url("../fonts/Apercu/Apercu-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Apercu/Apercu-Light.woff2") format("woff2"),
    url("../fonts/Apercu/Apercu-Light.woff") format("woff"),
    url("../fonts/Apercu/Apercu-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "../fonts/Apercu/Apercu Pro";
  src: url("../fonts/Apercu/ApercuPro-Regular.eot");
  src: url("../fonts/Apercu/ApercuPro-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Apercu/ApercuPro-Regular.woff2") format("woff2"),
    url("../fonts/Apercu/ApercuPro-Regular.woff") format("woff"),
    url("../fonts/Apercu/ApercuPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
